<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speaker Dashboard</title>
</head>

<body>
<h1>Uploaded Files</h1>

<!-- Iterate over the list of uploaded files -->
<div th:each="file : ${uploadedFiles}">
    <p>Title: <span th:text="${file.title}"></span></p>
    <p>Link: <a th:href="@{${file.link}}" th:text="${file.link}"></a></p>
    <p>Tags: <span th:text="${file.tags}"></span></p>
    <hr/>
</div>
</body>

</html>
